<form method="post" action="{{ path('app_service_offer_delete', {'id': service_offer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service_offer.id) }}">
    <button class="btn">Delete</button>
</form>
