{% extends 'base.html.twig' %}

{% block title %}Edit ServiceOffer{% endblock %}

{% block body %}
    <h1>Edit ServiceOffer</h1>

    {{ include('service_offer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_service_offer_index') }}">back to list</a>

    {{ include('service_offer/_delete_form.html.twig') }}
{% endblock %}
